<div class="row">
  <% @projects.each do |project| %>
    <div class="large-4 small-6 columns">
      <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">

      <div class="panel">
        <h5><%= project.name %></h5>
        <h6 class="subheader"><%= project.project_owner.email %></h6>
      </div>
    </div>
  <% end %>

</div>
