<div class="row">
  <div class="large-6">
    <a href="#" class="button" data-reveal-id="newProject">New Project</a>
  </div>
</div>
<div class="row">
  <div class="large-12">
    <% @projects.each do |project| %>
      <div class="large-4 small-6 columns">
        <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">

        <div class="panel">
          <h5><%= link_to project.name, project_path(project) %></h5>
          <h6 class="subheader"><%= project.project_owner.email %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if can? :create, @project %>
  <% content_for :modal do %>
    <%= new_modal("New Project", "newProject", render(partial: "projects/forms/new", locals: {project: @project})) %>
  <% end %>
<% end %>
