<div class="row">
  <h1>Photos For <%= @project.name %></h1>
</div>
<div class="row">
  <div class="large-12">
    <% if can? :manage, @project%>
      <%= link_to "Add Pictue", "/projects/#{@project.id}/photos/new", class: 'button' %>
    <% end %>
  </div>
</div>
<% if @photos.length != 0 %>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="large-4 small-6 columns">
        <img src="<%= photo.image.thumb %>">

        <div class="panel">
          <h6 class="subheader"><%= photo.title %></h6>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="large-12">
      <p>No photos yet!</p>
    </div>
  </div>
<% end %>
